<%= form_with model: @post do |f| %>
    <br>
    <div>
        <%= f.text_field :title, placeholder: "Ingresa titulo"%>
    </div>
    <div>
        <%= f.text_field :description, placeholder: "Ingresa descripción"%>
    </div>
    <div>
        <%= f.text_field :image_url, placeholder: "Ingresa una imagen"%>
    </div>
    <div>
        <%= f.submit "Guardar comentario", class: "btn btn-success"%>
    </div>
<% end %>
